body {
    font-family:  sans;
    margin-left:  40px;
    margin-right: 40px;
}

.header {
    text-align: center;
}

div.sources-list {
    margin:     auto;
    text-align: center;
}
span.sources-list {
    display:          inline-block;
    text-align:       left;
    font-family:      monospace;
    font-size:        115%;
    white-space:      pre;
    padding:          10px;
    background-color: rgb(250,248,240);
    border:           1px solid rgb(190,186,176);
}
.sources-list em {
    font-size: medium;
}
.sources-list br {
    display: none;
}

.colophon {
    font-size: small;
}
